<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187237532355-5bcgc4nd6g3h88adk8i5dlaoj8ch74t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187237532355-5bcgc4nd6g3h88adk8i5dlaoj8ch74t2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187237532355-rqikbss7r7dcs618f50j8bveebs0tmp4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHQ-4iO9ZCcOp7WSN9Lg5lejyoqMJlvv8</string>
	<key>GCM_SENDER_ID</key>
	<string>187237532355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hush.hushApp</string>
	<key>PROJECT_ID</key>
	<string>hush-7bab0</string>
	<key>STORAGE_BUCKET</key>
	<string>hush-7bab0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187237532355:ios:d96ce62e72f650cfa2d876</string>
</dict>
</plist>